body {
    background-color: whitesmoke;
    margin: 0; /* Remove default body margin */
    padding: 0; /* Remove default body padding */
    font-family: 'Roboto', sans-serif; /* Set default font family */
    transition: background-color 0.3s; /* Add transition for smooth background color change */
    text-align: center;
}

/* Apply styles for dark mode */
body.dark-mode {
    background-color: #121212; /* Dark mode body background color */
}

.form-container {
    margin: 20px;
    padding: 20px;
    display: grid;
    justify-content: center;
    align-items: center;
}

/* Apply styles for dark mode */
.form-container.dark-mode {
    color: #fff; /* Dark mode text color */
}

.form {
    width: 500px; /* Set form width */
}

/* Update form background color and text color for dark mode */
.form-container.dark-mode .form {
    color: #fff; /* Dark mode form text color */
}

.form-item {
    margin: 10px;
}

.form-container.dark-mode .form-item {
    background-color: #454545; /* Dark mode chip background color */
}

.chip-stack {
    display: grid;
    justify-content: center;
    align-items: center;
}

.chip {
    margin: 8px; /* Add space between chips */
}

.pre-container {
    border: 1px solid lightgray; /* Add light gray border */
    margin: 10px;
    padding: 10px;
    border-radius: 8px;
    background-color: #f9f9f9; /* Add light gray background */
    text-align: left;
}

/* Update pre container styles for dark mode */
.form-container.dark-mode .pre-container {
    border: 1px solid #666; /* Dark mode border color */
    background-color: #222; /* Dark mode background color */
    color: #fff; /* Dark mode text color */
}

.theme-toggle{
    position:fixed;
    top:4%;
    left:95%;
}