.form-container {
    margin: 20px;
    padding: 20px;
    /* border: 1px solid lightgray; Add light gray border */
    border-radius: 8px;
    display: grid;
    justify-content: center;
    align-items: center;
}

.form {
    width: 500px; /* Set form width */
}

.form-item {
    margin: 10px;
}

.chip-container {
    margin: 10px;
}

.chip {
    margin: 8px; /* Add space between chips */
}

.pre-container {
    border: 1px solid lightgray; /* Add light gray border */
    margin: 10px;
    padding: 10px;
    border-radius: 8px;
    background-color: #f9f9f9; /* Add light gray background */
    text-align: left;
}